<div class="mt-4">
    <h3>Thêm mật khẩu mới</h3>

    <form method="POST" action="/passwords/store">
        <div class="form-group">
            <label for="pass">Nhập mật khẩu mới</label>
            <input type="text" class="form-control" id="pass" name="pass">
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm mật khẩu</button>
    </form>
</div>
